@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  body {
    @apply font-inter;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-medium;
  }

  h1 {
    @apply text-[44px];
  }

  h2 {
    @apply text-[40px];
  }

  h3 {
    @apply text-[32px];
  }

  h4 {
    @apply text-[24px];
  }

  h5 {
    @apply text-[20px];
  }

  h6 {
    @apply text-[16px];
  }
}

@layer utilities {
  .content-container {
    @apply w-full max-w-[1224px] mx-auto;
  }

  .product-grid-wrapper {
    @apply grid grid-cols-productWrapper gap-6;
  }

  .font-body-xl {
    @apply text-[20px] font-light leading-7;
  }

  .font-body-lg {
    @apply text-[18px] font-light;
  }

  .font-body-md {
    @apply text-[16px] font-light leading-6;
  }

  .font-body-sm {
    @apply text-[14px] font-light;
  }

  .font-body-xs {
    @apply text-[12px] font-light;
  }

  .font-button-lg {
    @apply text-[16px] font-normal;
  }

  .font-button-sm {
    @apply text-[14px] font-normal;
  }

  .font-caption-lg {
    @apply text-[14px] font-medium;
  }

  .font-caption-sm {
    @apply text-[10px] font-medium;
  }

  .font-mobile-caption {
    @apply text-[12px] font-medium;
  }

  .font-underline-primary {
    @apply text-[16px] font-medium leading-[22px] underline;
  }

  /* It's not supported by all browser */
  /* .link-container:has(.nav-link.active) {
    background-color: red;
  } */
}
